.category_new {
  #new_category {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 500px;
    margin: 0 auto;

    input {
      width: 220px;
      color: #000;
      text-align: center;
      margin: 0 auto 20px;
    }

    .bootstrap-select {
      margin: 0 auto 20px;
    }
  }
}
