.categories {
  .categories_wrap {
    display: flex;
    justify-content: space-around;

    @include breakpoint(xs) {
      flex-direction: column;
    }

    .categ {
      background-color: rgba(0,0,0,0.5);
      margin-top: 20px;
      padding: 20px;
      width: 45%;
      border-radius: 6px;

      @include breakpoint(xs) {
        width: 100vw;
      }

      h1 {
        font-size: 36px;

        @include breakpoint(xs) {
          font-size: 30px;
        }
      }

      .fa {
        margin-right: 7px;
      }

      .glyphicon {
        margin-right: 7px;
      }

      .category {
        background-color: rgba(0,0,0,0.2);
        padding: 15px;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint(xs) {
          flex-direction: column;
        }

        .desrtiption_wrapper {
          display: flex;
          margin-right: 15px;

          @include breakpoint(xs) {
            margin-right: 0;
            margin-bottom: 10px;
          }

          p {
            margin-bottom: 0;
          }

          .name {
            margin-right: 10px;
          }
        }

        .links_wrapper {
          .btn-edit {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
