.home {
  .filters_box {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 6px;

    @include breakpoint(xs) {
      flex-direction: column;
      width: 100vw;
    }

    .category {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include breakpoint(xs) {
        margin-bottom: 10px;
      }

      .title {
        font-family: $GraublauHeavy;
        font-size: 20px;
      }

      .bs-placeholder {
        .filter-option {
          color: #d9534f;
          font-family: "GraublauSlab-Bold";
        }
      }
    }

    .period {
      .title {
        font-family: $GraublauHeavy;
        font-size: 20px;
      }

      .inputs {
        display: flex;

        @include breakpoint(xs) {
          flex-direction: column;
        }

        .input_wrapper {
          margin: 0 10px;

          @include breakpoint(xs) {
            margin: 10px 10px;
          }
        }
      }
    }

    .btn_wrap {
      align-self: flex-end;

      @include breakpoint(xs) {
       align-self: center;
      }
    }
  }

  .reports {
    h1 {
      padding: 10px;
    }

    .report_index {
      h1 {
        width: 80%;
        margin: 0 auto;
        text-align: left;

        @include breakpoint(xs) {
          width: 100vw;
          text-align: center;
        }
      }

      .reports_wrapper {
        .sum_amount {
          font-family: $GraublauHeavy;
          text-align: left;

          @include breakpoint(xs) {
            text-align: center;
          }

          span {
            font-size: 25px;
          }
        }
      }
    }
  }
}
