.report_index {
  .fa {
    margin-right: 10px;
  }

  .glyphicon {
    margin-right: 10px;
  }

  .reports_wrapper {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.5);

    @include breakpoint(xs) {
      width: 100vw;
    }

    .report {
      background-color: rgba(0, 0, 0, 0.2);
      padding: 15px;
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include breakpoint(xs) {
        flex-direction: column;
      }

      &:first-child {
        margin-top: 0;
      }

      .description {
        display: flex;

        @include breakpoint(xs) {
          flex-direction: column;
          padding-bottom: 10px;
        }

        div {
          padding: 0 8px;
        }
      }

      .btn {
        margin: 0 8px;
      }
    }
  }
}
