.user_reg {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  padding: 20px;

  @include breakpoint(xs) {
    width: 100vw;
  }

  .form-inputs {
    .input {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 15px;

      input {
        width: 350px;
        text-align: center;
        color: #000;

        @include breakpoint(xs) {
          width: 90vw;
        }
      }
    }
  }

  .btn {
    margin: 5px 0;
  }
}
