.user_sign_in {
  .form-inputs {
    .input {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 15px;

      input {
        width: 350px;
        text-align: center;
        color: #000;
      }
    }
  }

  .btn {
    margin: 5px 0;
  }
}
