<% if @incomes.present? || @expenses.present? %>
  $('.reports').html("<%= j(render partial: 'report/reports', locals: { incomes: @incomes, expenses: @expenses }) %>");
<% else %>
  $('.reports').html("<h2>Reports for this period were not found.</h2>");
<% end %>
