.alert-notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-alert {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.color--red {
  color: red;
}

.color--green {
  color: green;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #333;
  padding-bottom: 120px;
  min-height: 100vh;
  color: #fff;
  text-align: center;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  font-family: $mainFont;

  &:after {
    content: "";
    background-image: asset-url("background-1.jpg");
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: #fff;
  }
}
