<section class="categories">
  <%= link_to 'Create category', new_category_path, class: 'btn btn-success' %>

  <% @categories.each do |category| %>
    <p>
      <%= category.name %>
    </p>
  <% end %>
</section>
