<section class="categories">
  <%= link_to 'Create category', new_category_path, class: 'btn btn-success' %>

  <div class="categories_wrap">
    <div class="expens_categories">
      <h1>Expense categories</h1>
      <%= render partial: 'categories', locals: { categories: @expense_categories } %>
    </div>

    <div class="income_categories">
      <h1>Income categories</h1>
      <%= render partial: 'categories', locals: { categories: @income_categories } %>
    </div>
  </div>
</section>
